In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("play_tennis.csv")
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [4]:
df.shape

(14, 6)

In [3]:
df["play"].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [ ]:
# problem 1
# outlook = sunny, Temp = Hot, Humidity=High, Wind = Weak 
# play = no or yes
 
# problem 2
# outlook = overcast, temp = cold,humidity =low , wind = high
# play = no or yes

In [5]:
py = 9/14
pn = 5/14

In [7]:
#problem 1 solution
pd.crosstab(df["outlook"],df["play"])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [12]:
pon = 0
prn = 2/5
psn = 3/5

poy = 4/9
pry = 3/9
psy = 2/9

In [9]:
pd.crosstab(df["temp"],df["play"])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [13]:
pcoolno = 1/5
photno = 2/5
pmildno = 2/5

pcoolyes = 3/5
photyes = 2/5
pmildyes = 4/5

In [10]:
pd.crosstab(df["humidity"],df["play"])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [14]:
phino = 4/5
pnorno = 1/5

phiy = 3/9
pnory = 6/9

In [11]:
pd.crosstab(df["wind"],df["play"])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [15]:
pstno = 3/5
pweno = 2/5

psty = 3/9
pwey = 6/9

In [16]:
pro1_no = psn*photno*phino*pweno*pn
pro1_ye = psy*photyes*phiy*pwey*py
print(pro1_no,pro1_ye)

0.02742857142857143 0.012698412698412698